<div class="container">
  <div id="top" class="banner">
    <div class="">
      <img src="./assets/logo.png" alt="Banner here"/>
    </div>
  
  </div>
  <div class="middle-div">
    <div id="left" class="column">
      <div class="bottom">
        <ul>
          <li><a routerLink="level-one" routerLinkActive="active">Level 1</a></li>
          <li><a routerLink="level-two" routerLinkActive="active"> Level 2</a></li>
          <li><a routerLink="level-three" routerLinkActive="active">Level 3</a></li>
        </ul>
      </div>
    </div>
    <div id="right" class="column">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="footer text-right">
    @copy-right
  </div>
</div>